[Unit]
Description=Uchikomi Frontend Next.js Service (Production)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/exedev/uchikomi/frontend
ExecStartPre=/usr/bin/npm install
ExecStartPre=/usr/bin/npm run build
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=5
User=exedev
Environment=PORT=3000
Environment=NEXT_PUBLIC_API_URL=https://uchikomi.exe.xyz:8080

[Install]
WantedBy=multi-user.target
